<!-- /partials/searchForm.ejs -->

<div class="jumbotron">
	<h1>Search for Public Filings</h1>
	<p>Find all publicly available SEC filings associated
		with a company by searching for their trading symbol.</p>


<form class="form-inline" action="/search" method="get">
	<label>Ticker Symbol:</label>
	<input type="text" class="form-control" name="ticker_symbol" id="ticker_symbol" placeholder="Ticker Symbol"
		<%if (query) { %>
			value = "<%= query.ticker_symbol %>" 
		<% } %> >
	<label>Number of Entries:</label>
	<select class = "form-control form-control-sm" name="num_results">
		<!-- Utilizing EJS to select default value for num results to display -->
		<%
		var opts = [ "20", "40", "80", "100" ];
		for ( var i = 0; i < opts.length; i++ )
		{
			var selected = ( query.num_results == opts[i] ) ? "selected" : "";
			%><option value="<%= opts[i] %>" <%= selected %>><%= opts[i] %></option><%
		}
		%>
	</select>
	<input type="hidden" name="page" value="1">
	<button type="submit" class="btn btn-primary">Search</button>
</form>
</div>