<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <p>
				A small application developed to allow a user doing research on a company
				to easily find all available SEC filings for that company.
			</p>
            
        </div>
    </main>

    

</body>
</html>